.user{
    
    img{
        background-color: #FF5D56;
        width: 56px;
        height: 56px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 20px;
    }
}