@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./job.scss";
@import "./menu.scss";
@import "./candidates.scss";
@import "./home.scss";
@import "./avatar.scss";
@import "./modal.scss";
@import "./history.scss";

body{
    background-color: #0D192B !important;
    color: white !important;
    font-family: "Roboto";
}


.wrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-back{
        width: 70vw;
        margin-top: 40px;
    }
    &-back > a{
        color: #FF5D56;
        font-size: 18px;
        padding-left: 5px;
        text-decoration: underline;
    }
    &-container{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-top: 40px;

    }
    &-header{
        display: flex;
        justify-content: space-between;
        width: 70vw;
        margin-top: 20px;

    }
    &-body > h1{
        font-size: 24px;
        font-weight: 500;
    }
   

}

.users{
    padding: 0 5vw;
    display: grid;
    grid-template-columns: repeat(3,26vw);
    -moz-column-gap: 2vw;
    column-gap: 4vw;
    justify-content: center;
    align-content: center;
    padding-top: 20vh;
    position: relative;

    &-card{
        background-color: #162844;
        border-radius: 8px;
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }
    &-card img{
        width: 150px !important;

    }
    &-card:hover {
        box-shadow: 0 0 0 2px #fff, 0 0 1.6rem 0 hsla(0, 0%, 100%, 0.32);
        transition: 0.8s;
    }
    &-card p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top: 50px !important;

    }
    &-loader{
        position: absolute;
        z-index: 3000;
        top: 0;
        background-color: #0d192b8c;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
.MuiDrawer-paperAnchorDockedLeft{
    border-right-width: 0 !important;
}
div[class^="makeStyles-toolbar"] {
    min-height: 0 !important;
}
.right{
    justify-content: end;
}

.wrapper > div> header{
    background-color: transparent !important;
    box-shadow: none !important;
}

.wrapper-body{
    background-color: #162844;
    border-radius: 12px;
    width: 70vw;
    padding: 50px;
    margin-top: 30px;
}
ul{
     padding-left: 0 !important
}
.toast{
    position: absolute;
    z-index: 3000;
}
p{
    margin-bottom: 0 !important;
}
.success-alert{
    background-color: #ccf3ce !important;
}
@media (max-width:974px) {
    .wrapper-container{
        width: calc(100vw - 200px);
    }
     .wrapper-header{
        width: calc(100vw - 300px);
    }
    
}
@media (max-width:680px) {
    .users{
        padding: 0 5vw;
        grid-template-columns: 60vw;
        grid-template-rows: repeat(3, 300px);
        row-gap: 20px;
        &-card{
            height: 300px;
        }
        &-card img{
            width: 100px !important;
        }
    }
    .wrapper-container{
        width: calc(100vw - 250px);
    }    
}


@media (max-width:599px) {
    .wrapper-container, .wrapper-header, .wrapper-body, .wrapper-back{
        width: 92vw;
    }
   
    .wrapper{
        justify-content: center;
        &-header > h1{
            font-size: 30px;
        }
    }
    
}