.job{
    width: 67vw;
    background-color: #162844;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;

    &-title{
        font-size: 20px;
        font-weight: 500;
    }
    &-subtitle{
       font-size: 16px;
       color: #d4d8e0;
       padding: 5px 0;
   }
   &-description{
       font-size: 16px;
       color: #acb6ca;
       display: flex;
       justify-content: space-between;
   }
   &-date{
       font-size: 14px;
       color: #acb6ca;
   }
  
    &-logo{
       width: 86px;
       height: 86px;
       border-radius: 50%;
       overflow: hidden
    }
    &-card{
       display: flex;
       justify-content: space-between; 
       align-items: center;
       padding: 20px 0;
       width: calc(67vw - 180px);
    }
    &-candidates{
       display: flex;
       justify-content: space-between; 
       align-items: center;
       font-size: 14px;
    }
    &-trailing {
       height: 75px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       text-align: center;
   
    }
    &-date{
        text-align: end;
    }
   }


.job-topBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    h1{
        font-size: 24px;
        font-weight: 500;
    }
    button{
        background-color: #FF5D56;
        width: 100px;
        border-radius: 5px;
        color: white;
    }
 }
.job-details{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    margin-top: 16px;
    text-align: start;

    .title{
        font-size: 18px;
        margin: 0;
        width: 120px;
        padding-right: 20px;
    }
    .text{
        font-size: 16px;
        color: #D3D6DB;

    }

    &__description{
        align-items: flex-start;
        margin-bottom: 35px;

    }
    &-candidates h1{
        font-size: 24px;
        font-weight: 500;
        margin-top: 60px !important;
    }
}
    
  
@media (max-width:974px) {
    .job{
        width: calc(100vw - 270px);

        &-card{
            width: calc(100vw - 430px);
        }
        &-logo{
            width: 70px;
            height: 70px;
         }
        &-description {
            flex-direction: column;
        }
    
        &-title{
            font-size: 18px;
        }
        &-subtitle, &-description{
           font-size: 14px;
       }
    }
    
}
@media (max-width:680px) {
    .job{
        width: calc(100vw - 270px);

        &-card{
            width: calc(100vw - 400px);
        }
        &-logo{
            width: 79px;
            height: 79px;
         }
        &-description {
            flex-direction: column;
        }
        &-candidates  img{
            display: none !important;
        }
      
    }
    
}


@media (max-width:599px) {
   
    .job{
        width: 92vw;
        &-card{
            width: calc(92vw - 150px);
        }
        &-logo{
            width: 76px;
            height: 76px;
         }
       
    }
   
}
    
